//Border Rounded
$none:    0 !default;
$sm:      0.125rem !default;
$one:     0.25rem !default;
$md:      0.375rem !default;
$lg:      0.5rem !default;
$xl:      0.75rem !default;
$twoxl:   1rem !default;
$threexl: 1.5rem !default;
$full:    9999px !default;